body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


a.navbar-brand {
    font-family: 'Gloria Hallelujah', sans-serif;
    color: white !important;
}

.body-content {
    font-family: 'Exo 2', cursive;
}

.apptitle {
    font-size: 16px;
    white-space:nowrap
}

.currentuser {
    font-family: 'Exo 2', cursive;
    color: #999999;
    padding: 16px 15px;
    display: block;
}

table th {
    font-size: larger;
}

.table tbody > tr > td {
    line-height: 30px;
}

a.navbar-brand .glyphicon-earphone {
    color: red;
    font-size: 18px;
}

.glyphicon-time {
    color: gray;
    font-size: 10px;
}

.appbuttons {
    width: 100px;
    white-space:nowrap
}
