@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Rollback Code";
}

<h2>Execute Code</h2>
<div id="monitors"></div>

@section scripts{
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script>
        $(function () {
            var notificationHub = $.connection.messageHub;

            notificationHub.client.sendMessage = function (content) {
                $("#monitors").append(content);
                window.scrollTo(0, document.body.scrollHeight);
            };

            $.connection.hub.start(function () {
                $.get("@Url.Content("~/home/runrollback")?AppName=@ViewBag.AppName");
            });
        });
    </script>
}